VITE_LIVE_API_BASE_URL=http://localhost:8000
VITE_MCP_BASE_URL=http://localhost:8050
VITE_SUPPORTS_TICKETS=false
VITE_SUPPORTS_AGENT_TOOLS=false
VITE_SUPPORTS_EDIT_RECORDS=true
VITE_SUPPORTS_ASK_PATRA=false
VITE_SUPPORTS_AUTOMATED_INGESTION=false
VITE_SUPPORTS_MCP_EXPLORER=false
VITE_SUPPORTS_DOMAIN_EXPERIMENTS=false
